html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
	font-family: "Poppins-Bold";
	src: url(Poppins-Bold.ttf);
}
@font-face {
	font-family: "PrintBold";
	src: url(PrintBold.otf);
}
@font-face {
	font-family: "Poppins-Medium";
	src: url(Poppins-Medium.ttf);
}

$color-dark-blue: #034752;
$color-light-pink: #DB5099;
$color-dark-pink: #CF3E8D;
$color-light-gray: #FFF7FB;
$color-brown: #463A40;
$color-darkest-pink: #BA2676;


.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.PrintBold {
	font-family: "PrintBold";
}

.PoppinsBold {
	font-family: "Poppins-Bold";
}

.PoppinsMedium {
	font-family: "Poppins-Medium";
}

.white {
	color: white;
}

.brown {
	color: $color-brown;
}

.cap {
	text-transform: uppercase;
}

.left {
	display: flex;
	justify-content: left;
}

.right {
	display: flex;
	justify-content: right;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 66px;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 32px;

	.left {
		padding-left: 60px;
		font-size: 36px;
	}
	.right {
		padding-right: 60px;
		font-size: 14px;

		.nav_item {
			margin-right: 15px;
			margin-left: 15px;
			letter-spacing: 1.56px;
		}
	}
}


.button {
	background: $color-light-gray;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.29);
	border-radius: 22.5px;
	height: 50px;
	width: 187px;
	font-size: 14px;
	color: $color-brown;
	letter-spacing: 1.56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#first {
	background-color: $color-light-gray;
	height: 580px;
	padding-top: 96px;

	.left {
		margin-left: 60px;
		width: 50%;
		height: 100%;

		#book_cover {
			background-image: url('./book.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			max-width: 705px;
			min-width: 564px;

			max-height: 675px;
			min-height: 540px;

			margin-left: -30px;
		}
	}
	.right {
		margin-right: 60px;
		width: 50%;
		justify-content: center;

		h1 {
			font-size: 48px;
		}
		h3 {
			font-size: 18px;
			letter-spacing: 1.8px;
		}
		h4 {
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 22px;
			max-width: 375px;
		}

		a {
			font-size: 14px;

			padding-left: 30px;
			padding-right: 30px;
			padding-top: 13px;
			padding-bottom: 13px;
		}

		.buy_book {
			background-color: $color-light-pink;
		}
		.sample {

		}
	}
}

#second {
	height: 65px;

	background-color: $color-light-pink;
	background-size: 14px 14px;
  background-position: 0 0, 7px 7px;
	background-image:
  	radial-gradient(rgba(0,0,0,.2) 10%, transparent 0), 
  	radial-gradient(rgba(0,0,0,.2) 10%, transparent 0);
}

#third {
	padding-top: 60px;
	background-color: $color-light-pink;
	height: 1026px;

	.left {
		padding-left: 60px;

		h2 {
			font-size: 24px;
			margin-bottom: 30px;

			span {
				font-size: 60px;
				color: $color-darkest-pink;
			}
		}

		#about_container {
			background-color: $color-dark-pink;
			max-width: 700px;
			min-width: 510px;
			padding: 60px;
			font-size: 14px;
			line-height: 24px;
			border-radius: 7px;
			align-items: center;

			.line {
				height: 3px;
				background-color: $color-darkest-pink;
				width: 50%;
				margin-top: 30px;
				margin-bottom: 30px;

			}
		}
	}

	.right {
		padding-right: 60px;
	}

}

#fourth {
	background-color: $color-dark-blue;
	height: 185px;
	color: white;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px; 
	align-items: center;

	.view {
		color: $color-dark-blue;
		background-color: white;
		height: 45px;
		width: 232px;
		border-radius: 22.5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#fifth {
	height: 80px;
	color: white;
	background-image: url("thankyou.png");
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sixth {
	background-color: $color-light-gray;
	height: 512px;
}

#footer {
	background-color: $color-brown;
	height: 150px;
	justify-content: space-between;
	align-items: center;
	padding-right: 60px;
	padding-left: 60px;

	> div, > a {
		width: 250px;
	}

	.flex-column {
		display: flex;
		align-items: flex-end;
	}

	.flex-row {
		width: 109px;
	}

	// .img {
	// 	height: 20px;
	// 	width: 20px;
	// 	margin-left: 15px;
	// 	background-repeat: no-repeat;
	// }

	// #fb {
	// 	background-image: url("facebook.svg");
	// }

	// #insta {
	// 	background-image: url("instagram.svg");
	// }
	// #twitter {
	// 	background-image: url("twitter.svg");
	// }
}


