html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
	font-family: "Poppins-Bold";
	src: url(Poppins-Bold.ttf);
}
@font-face {
	font-family: "PrintBold";
	src: url(PrintBold.otf);
}
@font-face {
	font-family: "Poppins-Medium";
	src: url(Poppins-Medium.ttf);
}

$color-dark-blue: #034752;
$color-light-pink: #DB5099;
$color-dark-pink: #CF3E8D;
$color-light-gray: #FFF7FB;
$color-brown: #463A40;


.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.PrintBold {
	font-family: "PrintBold";
}

.PoppinsBold {
	font-family: "Poppins-Bold";
}

.PoppinsMedium {
	font-family: "Poppins-Medium";
}

.cap {
	text-transform: uppercase;
}

.left {
	display: flex;
	justify-content: left;
}

.right {
	display: flex;
	justify-content: right;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	height: 66px;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 32px;

	.left {
		padding-left: 60px;
		font-size: 36px;
	}
	.right {
		padding-right: 60px;
		font-size: 14px;

		.nav_item {
			margin-right: 15px;
			margin-left: 15px;
			letter-spacing: 1.56px;
		}
	}
}

#first {
	background-color: $color-light-gray;
	height: 580px;
	padding-top: 96px;

	.left {
		margin-left: 60px;
		width: 50%;
		height: 100%;

		#book_cover {
			background-image: url('./book.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			max-width: 705px;
			min-width: 564px;

			max-height: 675px;
			min-height: 540px;

			margin-left: -30px;
		}
	}
	.right {
		margin-right: 60px;
		width: 50%;
		justify-content: center;

		h1 {
			font-size: 48px;
		}
		h3 {
			font-size: 18px;
			letter-spacing: 1.8px;
		}
		h4 {
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 22px;
			max-width: 375px;
		}

		a {
			font-size: 14px;

			padding-left: 30px;
			padding-right: 30px;
			padding-top: 13px;
			padding-bottom: 13px;
		}

		.buy_book {
			background-color: $color-light-pink;
		}
		.sample {

		}
	}
}

#second {
	height: 63px;
}

#third {
	background-color: $color-light-pink;
	height: 1026px;
}

#fourth {
	background-color: $color-dark-blue;
	height: 185px;
}

#fifth {
	height: 80px;
}

#sixth {
	background-color: $color-light-gray;
	height: 512px;
}

#footer {
	background-color: $color-brown;
	height: 150px;
}


