@font-face {
	font-family: "Poppins-Bold";
	src: url(Poppins-Bold.ttf);
}
@font-face {
	font-family: "PrintBold";
	src: url(PrintBold.otf);
}
@font-face {
	font-family: "Poppins-Medium";
	src: url(Poppins-Medium.ttf);
}

$color-dark-blue: #034752;


.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.PrintBold {
	font-family: "PrintBold";
}

.PoppinsBold {
	font-family: "Poppins-Bold";
}

.PoppinsMedium {
	font-family: "Poppins-Medium";
}

.cap {
	text-transform: uppercase;
}

#fourth {
	background-color: $color-dark-blue;
}


